:root {
    --theme-color1: #232331;
    --theme-color2: #F15834;
    --theme-color3: #ff9205;
    --bg-theme-color1: var(--theme-color1);
    --bg-theme-color2: var(--theme-color2);
    --bg-theme-color3: var(--theme-color3);
    --border-theme-color1: var(--theme-color1);
    --border-theme-color2: var(--theme-color2);
    --border-theme-color3: var(--theme-color3);
    --headings-color: #003c38;
    --text-font: "Source Sans Pro", sans-serif;
    --title-font: "Source Sans Pro", sans-serif;
    --h2-font-size: 42px;
    --h2-font-weight: 800;
    --sec-title-color: var(--headings-color);
    --sec-title-font-size: var(--h2-font-size);
    --sec-title-font-family: var(--title-font);
    --sec-title-font-weight: var(--h2-font-weight);
    --sec-title-subtitle-font-family: var(--text-font);
    --theme-light-background-text-color: var(--headings-color);
}

.row-xpo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.row-xpo {
    margin-left: -10px;
    margin-right: -10px;
}

.col-tsb {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 992px) {
    .col-tsb {
        -ms-flex: 0 0 16.666667%;
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

.bn-p7q {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

[class*="col-"],
[class*="col-sm-"],
[class*="col-md-"],
[class*="col-lg-"] {
    padding-left: 10px;
    padding-right: 10px;
}

.col-od6,
.col-gal,
.col-hr3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 576px) {
    .col-hr3 {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .col-gal {
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 992px) {
    .col-od6 {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

.pt-c7z {
    padding-top: 1.5rem !important;
}

a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}

a {
    color: #373736;
    outline: 0;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}

.container-vc9 {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 576px) {
    .container-vc9 {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container-vc9 {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container-vc9 {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container-vc9 {
        max-width: 1140px;
    }
}

.container-vc9 {
    padding-left: 10px;
    padding-right: 10px;
}

.banner-1kb {
    cursor: pointer;
}

.bn-img-8se {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 180px;
    left: 15px;
    width: 16%;
    height: 75%;
}

.mt-y58 {
    margin-top: 0 !important;
}

.header-nz9 {
    margin-top: 42px !important;
    margin-bottom: 22px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bn-img-jar {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    position: fixed;
    top: 180px;
    right: 15px;
    width: 16%;
    height: 75%;
}

h2 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h2 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h2 {
    font-size: 2rem;
}

h2 {
    margin-bottom: 0;
}

.upp-jj1 {
    text-transform: uppercase;
}

.title-5kd {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #373736;
}

.title-o46 {
    font-size: 16px;
    line-height: 20px;
}

.header-nz9 .title-5kd {
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

ol {
    margin-top: 0;
    margin-bottom: 1rem;
}

.breadcrumb-8yf {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: .75rem 1rem;
    margin-bottom: 1rem;
    list-style: none;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.breadcrumb-8yf {
    font-weight: 500;
    font-size: 13px;
    line-height: 18px;
    color: #373736;
    margin: 0;
    padding: 0;
    background: 0 0;
    border-radius: 0;
}

.col-3qn,
.col-vwn,
.col-ljn {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.col-3qn {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-ljn {
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (min-width: 992px) {
    .col-vwn {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.d-j2a {
    display: none !important;
}

@media (min-width: 768px) {
    .block-thq {
        display: block !important;
    }
}

[class*="col-"],
[class*="col-md-"],
[class*="col-lg-"] {
    padding-left: 10px;
    padding-right: 10px;
}

@media screen and (min-width: 768px) {
    .block-thq {
        display: block !important;
    }
}

.col-2ef,
.col-pht,
.col-hr3 {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

@media (min-width: 768px) {
    .col-pht {
        -ms-flex: 0 0 66.666667%;
        flex: 0 0 66.666667%;
        max-width: 66.666667%;
    }
}

@media (min-width: 992px) {
    .col-2ef {
        -ms-flex: 0 0 75%;
        flex: 0 0 75%;
        max-width: 75%;
    }
}

.breadcrumb-item-gf2 {
    display: flex;
    align-items: center;
}

.act-689 {
    color: #f05835 !important;
}

.breadcrumb-item-gf2+.breadcrumb-item-gf2 {
    padding-left: .5rem;
}

.breadcrumb-item-gf2.act-689 {
    color: #6c757d;
}

.breadcrumb-item-gf2.act-689 {
    color: #373736;
}

.breadcrumb-item-gf2+.breadcrumb-item-gf2 {
    padding-left: 10px;
    font-weight: 600;
}

.breadcrumb-item-gf2+.breadcrumb-item-gf2::before {
    float: left;
    padding-right: .5rem;
    color: #6c757d;
    content: "/";
}

.breadcrumb-item-gf2+.breadcrumb-item-gf2::before {
    content: "";
    width: 8px;
    height: 11px;
    background: url(https://limak.az/new_front/assets/img/dashboard/icons/caret-right.svg) no-repeat;
    margin-right: 10px;
    padding: 0;
}

.breadcrumb-item-gf2+.breadcrumb-item-gf2:hover::before {
    text-decoration: underline;
}

.breadcrumb-item-gf2+.breadcrumb-item-gf2:hover::before {
    text-decoration: none;
}

aside {
    display: block;
}

.breadcrumb-item-gf2 a:hover {
    color: #f05835;
}

.card-v3k {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .25rem;
}

.card-v3k {
    background: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, .05);
    border-radius: 8px;
}

aside>.card-v3k {
    margin-bottom: 20px;
}

main {
    display: block;
}

.card-i74 {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}

.list-group-z33 {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    border-radius: .25rem;
}

.nav-zio {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #f2f2f2;
}

.aside-iya {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 1px solid #f2f2f2;
}

.d-fa6 {
    display: -ms-flexbox !important;
    display: flex !important;
}

.content-v17 {
    -ms-flex-pack: justify !important;
    justify-content: space-between !important;
}

.mb-xcp {
    margin-bottom: 1rem !important;
}

.align-3mo {
    align-items: center;
}

.item-woc {
    margin-bottom: 20px;
}

.progress-olv {
    display: -ms-flexbox;
    display: flex;
    height: 1rem;
    overflow: hidden;
    line-height: 0;
    font-size: .75rem;
    background-color: #e9ecef;
    border-radius: .25rem;
}

.mb-moc {
    margin-bottom: .5rem !important;
}

aside .progress-olv {
    height: 12px;
    border-radius: 100px;
    background: #eeeef0;
    font-weight: 600;
    font-size: 10px;
    line-height: normal;
    margin-top: 13px;
}

.list-group-item-6o3 {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, .125);
}

aside .list-group-item-6o3 {
    display: flex;
    align-items: center;
    border: none;
    padding: 0;
    width: 100%;
}

.list-group-item-6o3:first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.list-group-z33 .list-group-item-6o3:first-child {
    border-left: 0 !important;
}

.list-group-item-6o3+.list-group-item-6o3 {
    border-top-width: 0;
}

aside .list-group-item-6o3+.list-group-item-6o3 {
    margin-top: 20px !important;
}

.list-group-item-6o3:last-child {
    border-bottom-right-radius: inherit;
    border-bottom-left-radius: inherit;
}

.list-group-z33 .list-group-item-6o3:last-child {
    border-left-width: 0 !important;
}

.header-a9l {
    margin-bottom: 38px;
}

button {
    border-radius: 0;
}

button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button {
    overflow: visible;
}

button {
    text-transform: none;
}

[type="button"],
button {
    -webkit-appearance: button;
}

.btn-j12 {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-primary-1kb {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-9ek {
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}

.btn-kwl {
    background: linear-gradient(180deg, #fc7b5d 0%, #f05835 100%);
    border: none;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
    line-height: 18px;
    padding: 11px 38px;
}

[type="button"]:not(:disabled),
button:not(:disabled) {
    cursor: pointer;
}

.btn-j12:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.btn-j12:hover {
    color: #212529;
    text-decoration: none;
}

.btn-primary-1kb:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.progress-reo {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    overflow: hidden;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: #007bff;
    transition: width .6s ease;
}

.progress-reo {
    background-color: #f05835 !important;
}

.progress-on1 {
    background: #f05835;
    color: black;
}

aside .list-group-item-6o3>a {
    display: flex;
    align-items: center;
    width: 100%;
}

aside .list-group-item-6o3>a:hover {
    text-decoration: none;
}

.nav-zio .list-group-item-6o3 a:hover {
    color: #f05835;
}

.nav-zio .list-group-item-6o3 a:hover,
.nav-zio .list-group-item-6o3 a:hover i[class*="icon-"] {
    color: #f05835;
}

.aside-iya .list-group-item-6o3 a:hover {
    color: #f05835;
}

.aside-iya .list-group-item-6o3 a:hover,
.aside-iya .list-group-item-6o3 a:hover i[class*="icon-"] {
    color: #f05835;
}

.title-dry {
    margin-bottom: 10px;
}

.title-dry {
    display: flex;
    align-items: center;
}

.asi-bdo .title-dry {
    margin-bottom: 0;
}

.input-djv {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}

@media (min-width: 576px) {
    .mb-sm-1tn {
        margin-bottom: .25rem !important;
    }
}

.input-djv {
    flex-wrap: nowrap;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
}

p {
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #767676;
    margin: 0;
}

.form-flv {
    margin-top: 20px;
    margin-bottom: 35px;
    font-size: 9.5px;
    line-height: 12px;
}

.table-5lc .title-dry {
    margin-bottom: 5px;
}

table {
    border-collapse: collapse;
}

.table-f62 {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table-5lc table {
    margin-bottom: 0;
}

i[class*="icon-"] {
    font-family: icons !important;
    speak: never;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav-pmb .list-group-item-6o3 i[class*="icon-"] {
    font-size: 16px;
    width: 16px;
    margin-right: 10px;
    color: #9b9b9b;
}

.icon-alw:before {
    content: "\e908";
}

h3 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h3 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h3 {
    font-size: 1.75rem;
}

h3 {
    margin-bottom: 0;
}

.title-xdz {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.icon-lv4:before {
    content: "\e909";
}

.nav-pmb .list-group-item-6o3 a {
    transition: all .3s ease-in-out;
}

.nav-pmb .list-group-item-6o3 a:hover {
    color: #e33554;
}

.nav-5ab.act-689 .title-xdz,
.nav-5ab.act-689 i[class*="icon-"],
.nav-pmb .list-group-item-6o3 a:hover,
.nav-pmb .list-group-item-6o3 a:hover i[class*="icon-"] {
    color: #e33554;
}

.icon-lv6:before {
    content: "\e900";
}

.nav-6bc {
    flex-wrap: wrap;
}

.nav-6bc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

.nav-zio .list-group-item-6o3 i[class*="icon-"] {
    font-size: 20px;
    width: 16px;
    margin-right: 10px;
    color: #9b9b9b;
    transition: all .3s ease-in-out;
}

.icon-i6q:before {
    content: "\e90f";
}

.title-5i4 {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    transition: all .3s ease-in-out;
}

.icon-ktk:before {
    content: "\e907";
}

.icon-4dh:before {
    content: "\e903";
}

.icon-ko3:before {
    content: "\e906";
}

svg {
    overflow: hidden;
    vertical-align: middle;
}

.icon-kh9:before {
    content: "\e90e";
}

img {
    vertical-align: middle;
    border-style: none;
}

img {
    max-width: 100%;
}

.mr-f8k {
    margin-right: .5rem !important;
}

.card-v3k img {
    width: auto;
}

.hot-m76 {
    color: #EF0101;
}

.badge-na8 {
    display: inline-block;
    padding: .25em .4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.badge-o2w {
    padding-right: .6em;
    padding-left: .6em;
    border-radius: 10rem;
}

.ml-w35 {
    margin-left: .5rem !important;
}

.icon-eoz:before {
    content: "\e90d";
}

.w-tle {
    width: 100% !important;
}

.icon-lop {
    width: 19px !important;
}

aside .list-group-item-6o3>a .title-xdz {
    font-weight: 500;
}

.aside-iya .list-group-item-6o3 i[class*="icon-"] {
    font-size: 16px;
    width: 16px;
    margin-right: 10px;
    color: #9b9b9b;
}

.icon-qev:before {
    content: "\e90c";
}

.title-x7z {
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;
    transition: all .3s ease-in-out;
}

.icon-mcc:before {
    content: "\e902";
}

.icon-nj5:before {
    content: "\e90b";
}

.icon-7fo:before {
    content: "\e90a";
}

.title-dry img {
    margin-right: 10px;
}

.title-dry h3 {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

input {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

input {
    overflow: visible;
}

.form-control-mjz {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control-mjz {
    background: #f5f5f7;
    border: 1px solid #dfdfdf;
    border-radius: 8px !important;
    height: 40px;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 15px;
    color: #818181;
    margin-bottom: 20px;
}

.input-djv>.form-control-mjz {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    margin-bottom: 0;
}

.input-vpj>.form-control-mjz {
    border-radius: 8px 0 0 8px !important;
    border-right-width: 0;
}

.input-djv:not(.has-validation)>.form-control-mjz:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-72x {
    display: -ms-flexbox;
    display: flex;
}

.input-72x {
    margin-left: -1px;
}

.table-5lc thead {
    display: none;
}

.table-16g {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.table-16g {
    margin-bottom: 1rem;
}

.table-16g {
    margin-bottom: 0;
}

.title-xdz span {
    font-weight: 500;
    font-size: 14.5px;
}

strong {
    font-weight: bolder;
}

.title-xdz strong {
    font-weight: 600;
}

.icon-arx:before {
    content: "\e901";
}

.nav-5ab .title-xdz {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}

h4 {
    margin-top: 0;
    margin-bottom: .5rem;
}

h4 {
    margin-bottom: .5rem;
    font-weight: 500;
    line-height: 1.2;
}

h4 {
    font-size: 1.5rem;
}

h4 {
    margin-bottom: 0;
}

.title-4gz {
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
}

.label-5hh {
    font-weight: 700;
    font-size: 16px;
    line-height: normal;
}

.dropdown-ojm {
    position: relative;
}

.btn-1tj {
    position: relative;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: middle;
}

.input-vpj .dropdown-ojm {
    height: 100%;
}

.table-16g>.table-f62 {
    margin-bottom: 0;
}

.man-mwh {
    font-family: jisazn;
}

.btn-6i3 {
    color: #007bff;
    border-color: #007bff;
}

.dropdown-z9m {
    white-space: nowrap;
}

.btn-1tj>.btn-j12 {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.input-72x .btn-j12 {
    position: relative;
    z-index: 2;
}

.input-72x .btn-j12 {
    border: 1px solid #dfdfdf;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #373736;
    padding: 10px;
    padding-right: 28px;
    background: #f5f5f7;
    border-radius: 0 8px 8px 0;
}

.input-djv>.input-72x>.btn-1tj>.btn-j12 {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.dropdown-z9m:after {
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}

.dropdown-z9m:after,
.main-menu .navbar-header,
li>ul,
.mobile-menu .navigation li>ul>li>ul,
.sticky-header .main-menu .navigation>li::before,
.sticky-header .navbar-header,
.sticky-header .outer-box,
.tp-bannertimer {
    display: none;
}

.dropdown-z9m:after {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 9px;
    height: 6px;
    border: none;
    background-image: url(https://limak.az/new_front/assets/img/dashboard/icons/caret-down.svg);
    background-repeat: no-repeat;
    margin-left: 0;
}

.input-72x .btn-j12::after {
    margin-right: 10px;
}

.btn-6i3:hover {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
}

.btn-1tj>.btn-j12:hover {
    z-index: 1;
}

ul {
    margin-top: 0;
    margin-bottom: 1rem;
}

.dropdown-menu-vk4 {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: .25rem;
}

.dropdown-menu-vk4 {
    border: none;
    box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
    left: 0 !important;
    top: 10px !important;
    min-width: unset;
    padding: 4px 0;
    border-radius: 8px;
}

.dropdown-z9m::after,
.main-menu .navbar-header,
.mobile-menu .navigation li>ul,
.mobile-menu .navigation li>ul>li>ul,
.sticky-header .main-menu .navigation>li::before,
.sticky-header .navbar-header,
.sticky-header .outer-box,
.tp-bannertimer {
    display: none;
}

.btn-group-vertical>.btn-j12:hover,
.btn-1tj>.btn-j12:hover {
    z-index: 1;
}

th {
    text-align: inherit;
    text-align: -webkit-match-parent;
}

.table-f62 th {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-f62 thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
}

.table-f62.table-aw7 th {
    border-top: none;
    border-bottom: 1px solid #e4e4e4;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #818181;
    padding: 30px 0 20px;
}

.table-f62 td {
    padding: .75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.table-f62.table-aw7 td {
    border-top: none;
    border-bottom: 1px solid #e4e4e4;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: #818181;
    padding: 30px 0 20px;
}

.table-5lc .table-f62.table-aw7 td {
    padding: 15px 0;
    font-size: 15px;
    line-height: 17px;
    border-bottom: 1px solid #f2f2f2;
}

.table-f62.table-aw7 td:last-child {
    text-align: right;
}

.table-5lc .table-f62.table-aw7 tr:last-child td {
    border: none;
    padding-bottom: 0;
}

.table-5lc .table-f62.table-aw7 td img {
    width: 16px;
    min-width: 16px;
    height: 16px;
    margin-right: 6px;
}

.table-5lc .table-f62.table-aw7 td span {
    font-weight: 500;
}

.table-f62.table-aw7 td strong {
    color: #373736;
}

.table-5lc .table-f62.table-aw7 td strong {
    font-weight: 700;
}

.dropdown-item-yhe {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.dropdown-item-yhe {
    padding: 8px 14px;
    display: flex;
    align-items: center;
}

.dropdown-item-yhe:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #e9ecef;
}

.dropdown-item-yhe.act-689 {
    color: #fff;
    text-decoration: none;
    background-color: #007bff;
}

.dropdown-item-yhe.act-689 {
    color: #373736;
    background-color: #e9ecef;
}

.table-fhj.table-f62 th {
    font-weight: 700;
    font-size: 15px;
    line-height: 16px;
    color: #373736;
    padding: 10px 25px 20px 0;
}

.table-fhj.table-f62 td {
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000;
    padding: 25px 0;
}

.table-fhj.table-f62 td:last-child {
    text-align: left;
}

.table-fhj.table-f62 tr:last-child td {
    border: none;
}

.text-bio {
    text-align: center !important;
}


/* These were inline style tags. Uses id+class to override almost everything */
#style-pxcyL.style-pxcyL {
    /* background-image: url("/new_front/assets/img/banner/bannerlimak.jpg?v=1.2.0"); */
    top: 180px;
}

#style-qtLJA.style-qtLJA {
    background-color: rgb(238, 1, 0);
    color: rgb(255, 255, 255);
}

#style-dYhyU.style-dYhyU {
    font-size: 14px;
}

#style-BJv7d.style-BJv7d {
    width: 0%;
}

#style-NneKE.style-NneKE {
    position: absolute;
    margin-left: 35%;
}

#style-fKKsT.style-fKKsT {
    padding-left: 10px;
}

#style-TwsoO.style-TwsoO {
    width: 20px;
    height: 20px;
}

#style-wcwSj.style-wcwSj {
    background-color: rgb(238, 1, 0);
    color: rgb(255, 255, 255);
}

#style-ND2LP.style-ND2LP {
    cursor: pointer;
}

#style-YMM57.style-YMM57 {
    /* background-image: url("/new_front/assets/img/dashboard/banner/bannerpinfinish.jpg"); */
    top: 180px;
}